Repository 4eckd/TheBestNexusLetters, changes with the labels that .github/labeler.yml gives for each.
All labels: area:components, area:pages, area:api, area:database, area:auth, area:ui, area:hooks, area:utils, area:types, area:testing, area:docs, area:ci/cd, area:config, area:scripts, area:public, area:storybook, dependencies, framework:nextjs, framework:react, database:supabase, styling:tailwind, tool:storybook, tool:playwright, tool:vitest

feat: implement automated failure remediation system
  .github/IMPLEMENTATION_STATUS.md
  .github/failure-remediation-config.yml
  .github/workflows/auto-remediate-failures.yml
  .github/workflows/test-remediation.yml
  docs/design/brand-colors.md
  docs/operations/failure-remediation.md
  fix-jwt.ps1
  package.json
  pnpm-lock.yaml
  public/tbnl-logo.svg
  scripts/failure-remediation.js
  src/app/brand-showcase/page.tsx
  src/app/globals.css
  src/app/page.tsx
  src/components/ui/Card.tsx
  src/components/ui/badge.tsx
  src/components/ui/brand-color-showcase.tsx
  src/components/ui/index.ts
  src/lib/supabase-old.ts
  tailwind.config.ts
Labels: area:components, area:pages, area:database, area:ui, area:docs, area:ci/cd, area:config, area:scripts, area:public, dependencies, framework:nextjs, framework:react, database:supabase, styling:tailwind

docs: add comprehensive failure remediation system status report
  FAILURE_REMEDIATION_STATUS.md
Labels: area:docs

feat: add deployment & monitoring infrastructure
  docs/deployment-monitoring-checklist.md
  scripts/regenerate-sitemap.js
  scripts/setup-cron-sitemap.sh
Labels: area:docs, area:scripts

fix: regenerate pnpm-lock.yaml and fix commitlint config for ES modules
  commitlint.config.cjs
  pnpm-lock.yaml
Labels: area:config, dependencies

fix(env): support BNSL aliases and harden error handling
  .env.example
  docs/README.md
  docs/SERVICE_ROLE_KEY_ROTATION_GUIDE.md
  docs/STEP-6-SECURITY-PERFORMANCE-SWEEP.md
  docs/architecture/seo.md
  docs/debug/env-failure.md
  docs/development/THEMING.md
  docs/env-setup.md
  docs/env.md
  docs/index.md
  docs/og-images.md
  docs/seo/audit.md
  docs/seo/spec.md
  docs/testing/MILITARY_THEME_VERIFICATION.md
  src/lib/env.ts
  tests/env.spec.ts
Labels: area:testing, area:docs, area:config, tool:playwright

docs: add CI/CD pipeline monitoring report with environment variable status
  docs/CI_CD_MONITORING_REPORT.md
Labels: area:docs

docs: complete CI/CD monitoring analysis - environment variables working
  docs/CI_CD_MONITORING_REPORT.md
Labels: area:docs

.github/labeler.yml:

# Enhanced Auto-Labeler Configuration for Next.js + Supabase Project
# Comprehensive labeling system for better PR management and organization

# =======================
# AREA-BASED LABELS
# =======================

'area:components':
  - 'src/components/**/*'
  - 'src/components/**'
  - 'components/**/*'
  - 'components/**'

'area:pages':
  - 'src/app/**/*'
  - 'src/pages/**/*'
  - 'app/**/*'
  - 'pages/**/*'

'area:api':
  - 'src/app/api/**/*'
  - 'api/**/*'
  - '**/api/**/*'

'area:database':
  - 'src/lib/database*'
  - 'supabase/**/*'
  - 'migrations/**/*'
  - 'src/lib/supabase*'
  - '**/supabase/**'
  - '**/*database*'
  - '**/*migrations*'

'area:auth':
  - 'src/lib/auth*'
  - 'src/components/auth/**/*'
  - 'src/middleware*'
  - '**/auth/**/*'
  - '**/*auth*'

'area:ui':
  - 'src/components/ui/**/*'
  - 'src/styles/**/*'
  - 'public/styles/**/*'
  - 'tailwind.config*'
  - '**/*styles*'
  - '**/ui/**/*'

'area:hooks':
  - 'src/hooks/**/*'
  - 'hooks/**/*'
  - 'src/lib/hooks*'
  - '**/hooks/**/*'

'area:utils':
  - 'src/utils/**/*'
  - 'src/lib/utils*'
  - 'src/lib/helpers*'
  - 'utils/**/*'
  - '**/utils/**/*'
  - '**/*utils*'
  - '**/*helpers*'

'area:types':
  - 'src/types/**/*'
  - 'types/**/*'
  - 'src/lib/types*'
  - 'src/lib/*.types.ts'
  - '**/types/**/*'
  - '**/*.types.ts'
  - '**/*.d.ts'

'area:testing':
  - 'src/__tests__/**/*'
  - 'tests/**/*'
  - '__tests__/**/*'
  - '**/*.test.*'
  - '**/*.spec.*'
  - 'vitest*.config*'
  - 'playwright*.config*'
  - 'jest*.config*'
  - 'cypress/**/*'

'area:docs':
  - 'docs/**/*'
  - 'README*'
  - 'CHANGELOG*'
  - 'CONTRIBUTING*'
  - '*.md'
  - '**/*.md'
  - '.github/**/*.md'

'area:ci/cd':
  - '.github/workflows/**/*'
  - '.github/actions/**/*'
  - 'Dockerfile*'
  - 'docker-compose*'
  - '.dockerignore'
  - 'vercel.json'
  - '.vercelignore'

'area:config':
  - 'next.config*'
  - 'tailwind.config*'
  - 'tsconfig*'
  - 'eslint.config*'
  - '.eslintrc*'
  - '.prettierrc*'
  - 'prettier.config*'
  - 'postcss.config*'
  - 'commitlint.config*'
  - '.env*'
  - '*.json'
  - '*.yaml'
  - '*.yml'
  - '*.toml'
  - 'package.json'
  - 'pnpm-lock.yaml'
  - 'yarn.lock'
  - 'package-lock.json'

'area:scripts':
  - 'scripts/**/*'
  - 'bin/**/*'
  - '*.sh'
  - '**/*.sh'
  - 'src/scripts/**/*'

'area:public':
  - 'public/**/*'
  - 'static/**/*'
  - 'assets/**/*'
  - 'src/assets/**/*'

'area:storybook':
  - '.storybook/**/*'
  - '**/*.stories.*'
  - 'src/stories/**/*'

# =======================
# SIZE-BASED LABELS
# =======================

'size:xs':
  - any:
    - changed-files: '1-3'

'size:small':
  - any:
    - changed-files: '4-10'

'size:medium':
  - any:
    - changed-files: '11-30'

'size:large':
  - any:
    - changed-files: '31-100'

'size:xl':
  - any:
    - changed-files: '101-300'

'size:xxl':
  - any:
    - changed-files: '>300'

# =======================
# TYPE-BASED LABELS
# =======================

'type:feature':
  - head-branch: 'feature/**'
  - head-branch: 'feat/**'
  - head-branch: 'enhancement/**'

'type:bugfix':
  - head-branch: 'fix/**'
  - head-branch: 'bugfix/**'
  - head-branch: 'bug/**'

'type:hotfix':
  - head-branch: 'hotfix/**'
  - head-branch: 'critical/**'
  - head-branch: 'emergency/**'

'type:refactor':
  - head-branch: 'refactor/**'
  - head-branch: 'refactoring/**'
  - head-branch: 'cleanup/**'

'type:chore':
  - head-branch: 'chore/**'
  - head-branch: 'maintenance/**'
  - head-branch: 'update/**'

'type:docs':
  - head-branch: 'docs/**'
  - head-branch: 'documentation/**'
  - head-branch: 'readme/**'

'type:test':
  - head-branch: 'test/**'
  - head-branch: 'tests/**'
  - head-branch: 'testing/**'

'type:ci':
  - head-branch: 'ci/**'
  - head-branch: 'cd/**'
  - head-branch: 'workflow/**'
  - head-branch: 'action/**'

'type:style':
  - head-branch: 'style/**'
  - head-branch: 'styling/**'
  - head-branch: 'ui/**'

'type:perf':
  - head-branch: 'perf/**'
  - head-branch: 'performance/**'
  - head-branch: 'optimization/**'
  - head-branch: 'optimize/**'

# =======================
# PRIORITY LABELS
# =======================

'priority:critical':
  - head-branch: 'hotfix/**'
  - head-branch: 'critical/**'
  - head-branch: 'emergency/**'
  - head-branch: 'urgent/**'

'priority:high':
  - head-branch: 'important/**'
  - head-branch: 'priority/**'
  - head-branch: 'security/**'

'priority:low':
  - head-branch: 'minor/**'
  - head-branch: 'optional/**'
  - head-branch: 'nice-to-have/**'

# =======================
# SPECIAL LABELS
# =======================

'dependencies':
  - 'package.json'
  - 'package-lock.json'
  - 'pnpm-lock.yaml'
  - 'yarn.lock'
  - '**/package*.json'
  - '**/*lock*'

'security':
  - '**/*auth*'
  - '**/*security*'
  - '**/*permission*'
  - '.env*'
  - '**/middleware*'
  - 'src/lib/auth*'
  - head-branch: 'security/**'

'performance':
  - head-branch: 'perf/**'
  - head-branch: 'performance/**'
  - head-branch: 'optimize/**'
  - '**/*performance*'
  - '**/*optimization*'
  - 'next.config*'

'breaking-change':
  - head-branch: 'breaking/**'
  - head-branch: 'major/**'
  - head-branch: 'migration/**'

'needs-review':
  - any:
    - changed-files: '>50'
  - head-branch: 'experimental/**'
  - head-branch: 'draft/**'

'ready-for-merge':
  - head-branch: 'ready/**'
  - head-branch: 'final/**'

# =======================
# FRAMEWORK SPECIFIC
# =======================

'framework:nextjs':
  - 'next.config*'
  - 'src/app/**/*'
  - 'src/middleware*'
  - '**/layout.*'
  - '**/page.*'
  - '**/loading.*'
  - '**/error.*'
  - '**/not-found.*'

'framework:react':
  - 'src/components/**/*'
  - 'src/hooks/**/*'
  - '**/*.tsx'
  - '**/*.jsx'

'database:supabase':
  - 'supabase/**/*'
  - 'src/lib/supabase*'
  - 'src/lib/database*'
  - '**/migrations/**'

'styling:tailwind':
  - 'tailwind.config*'
  - 'src/styles/**/*'
  - '**/globals.css'

'tool:storybook':
  - '.storybook/**/*'
  - '**/*.stories.*'

'tool:playwright':
  - 'playwright.config*'
  - 'tests/**/*'
  - 'e2e/**/*'
  - '**/*.spec.*'

'tool:vitest':
  - 'vitest.config*'
  - '**/*.test.*'
  - 'src/__tests__/**/*'
